
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    /* width: 100%; */
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*========HEADER========*/

.header {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 17px 0;
}

.header-span {
    color: var(--IRIS, #4D5AE5);
}

.header-list {
    display: none;
}

.header-address-list{
    display: none;
}

.open-menu-btn{
padding: 0;
line-height: 0;
background-color: transparent;
border: none;
}


@media screen and (min-width: 768px) {
    .logo {
        margin-right: 120px;
    }

    .header-list {
        display: flex;
        gap: 40px;
    }

    .header-link {
        color: var(--NAVY-BLUE, #2E2F42);
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        transition: color 250ms
    }
    
    .header-link:hover,
    .header-link:focus {
        color: var(--OCEAN, #404BBF);
    }
    
    .current {
        position: relative;
        color: var(--OCEAN, #404BBF);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .current::after {
        content: "";
        position: absolute;
        bottom: 4px;
        left: 0;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: var(--OCEAN, #404BBF);
    }

    .address-nav {
        display: block;
    }

    .header-address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-link.address {
        color: var(--SLATE, #434455);
        display: flex;
        padding: 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.16;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-link.address:hover,
    .header-link.address:focus {
        color: red;
    }

    .open-menu-btn {
        display: none;
    }
}

@media screen and (min-width: 1158px) {

    .logo{
        margin-right: 76px;
    }

    .header-address-list {
        flex-direction: row;
        column-gap: 40px;
    }
}
.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FCFCFC;
    opacity: 0;
    pointer-events: 0;
    visibility: hidden;
}

.mob-container{
    max-width: 320px;
    width: 100%;
    height: 100%;
    padding-top: 72px;
    padding-left: 16px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mob-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px;
    display: block;
    margin-bottom: 24px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-close-icon {}

.mob-menu-list {
    margin-bottom: 60px;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.mob-menu-current {
    color: var(--OCEAN, #404BBF);
}

.mob-menu-nav {}

.mob-menu-address-list {
    margin-bottom: 48px;
}

.mob-menu-address-item:not(:last-child) {
    margin-bottom: 24px;
}

.mob-menu-address {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    font-style: normal;
    letter-spacing: 0.02em;
    color: #434455;
}

.mob-menu-social-list {
    display: flex;
    gap:40px;
}

.mob-menu-social-item {
    width: 40px;
    height: 40px;
}

.mob-menu-social-link {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--IRIS, #4D5AE5);
}

.mob-menu-social-icon {
    fill: #F4F4FD;
}

@media screen and (min-width: 768px) {
.mob-menu{
    display: none;
}
}
/*======================*/

/*=========HERO=========*/

.hero-section{
    /* display: flex;
    justify-content: center; */
    max-width: 320px;
    margin: 0 auto;
    background-color: var(--NAVY-BLUE, #2E2F42);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 72px 0;
    text-align: center;
}

.hero-title {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.hero-btn {
    color: var(--WHITE, #FFF);
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
    background: var(--OCEAN, #404BBF);
}

@media screen and (min-width: 768px) {
    .hero-section {
        max-width: 768px;
        padding: 112px 0;
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
.hero-section {
        max-width: 1158px;
        padding-bottom: 188px 0;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;   
    }

    .hero-title {
        max-width: 496px;
        margin-bottom: 48px;
        line-height: 1.07; 
        font-size: 56px;
    }
}

/*======================*/

/*=========WHY-WE=======*/

.why-we-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.why-we-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.why-we-item {
    width: 100%;
}

.icons-group {
    display: none;
}

.why-we-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.why-we-text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .why-we-list {
        row-gap: 72px;
        column-gap: 24px;
    }

    .why-we-item {
        flex-basis: calc((100% - 24px) / 2); 
    }
}

@media screen and (min-width: 1158px) {
    .why-we-section {
        padding-top: 120px; 
        padding-bottom: 120px; 
    }
    
    .why-we-list {
        gap: 24px; 
        flex-wrap: nowrap;
    }
    
    .why-we-item {
        flex-basis: calc((100% - 3 * 24px) / 4); 
    }

    .icons-group {
        display: flex;
        height: 112px;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        border-radius: 4px;
        border: 1px solid var(--LIGHT-SLATE, #8E8F99);
        background: var(--CLOUD, #F4F4FD);
        flex-shrink: 0;
    }
    
    .why-we-title {
        font-size: 20px; 
        font-weight: 500; 
        line-height: 1,2;
    }

    .why-we-text {
        font-weight: 400; 
    }
}
/*======================*/

/*=========OUR-TEAM=====*/

.our-team-section {
    background: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
    /* padding-left: 28px;
    padding-right: 28px; */
}

.our-team-main-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
}

.our-team-item { */
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-team-item{
    max-width: 264px;
}

.our-team-img {
    max-width: fit-content;
}

.our-team-info{
    /* display: flex;
    width: 264px; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* gap: 8px; */
    padding: 32px 0; 
}

.our-team-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.our-team-text {
    color: var(--SLATE, #434455);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--IRIS, #4D5AE5);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #F4F4FD;
}

@media screen and (min-width: 768px) {
    .our-team-section {
        padding-left: 108px;
        padding-right: 108px;
    }

    .our-team-list {
        column-gap: 24px;
        row-gap: 64px;
    }

    .our-team-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .our-team-section {
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .our-team-item {
        flex-basis: calc((100% - 3 * 24px) / 4); 
    }
}
/*======================*/

/*=========WORK=========*/

.work-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.work-main-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px; 
    row-gap: 55px;
    justify-content: space-between;
    width: 100%;
}
.work-item {
    background: var(--WHITE, #FFF);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 288px;
}

.work-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.work-cover-wrap {
position: relative;
overflow: hidden;
}

.work-cover-text {
    position: absolute;
    background: var(--IRIS, #4D5AE5);
    top: 0;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--CLOUD, #F4F4FD);
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
}

.work-cover-wrap:hover .work-cover-text {
    transform: translateY(0);
}

.work-info{
    border: 1px solid #e7e9fc;
    border-top: none;
    /* display: flex; */
    /* width: 360px; */
    max-width: 288px;
    /* flex-direction: column;
    gap: 8px; */
    padding: 32px 16px;
}

.work-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}

.work-text {
    color: var(--SLATE, #434455);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .our-team-section {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .work-item {
        max-width: 356px;
    }

    .work-list {
        row-gap: 72px;
        flex-basis: calc((100% - 24px) / 2);
    }

    .work-info {
        max-width: 356px;
    }
}

@media screen and (min-width: 1158px) {
    .our-team-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .work-list {
        row-gap: 48px; 
        flex-basis: calc((100% - 48px) / 3); 
    }
}
/*======================*/

/*=========FOOTER=======*/

.footer {
    background: var(--NAVY-BLUE, #2E2F42);
    /* padding: 100px 0; */
    padding: 96px 0;
}

.footer-container {
    /* display: flex; */
    /* align-items: baseline;  */
    max-width: 320px;
    width: 100%;
    height: 100%;
}

.first-block{
    margin-bottom: 72px;
}

.footer-first-container {
    /* margin-right: 120px;  */
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.footer-social-container{
    /* margin-bottom: 72px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block; 
    margin-bottom: 16px;
}

.footer-text {
    color: var(--CLOUD, #F4F4FD);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-social-title {
    color: var(--WHITE, #FFF);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer .social-link:hover,
.footer .social-link:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-list {
    gap: 16px;
}

.footer-subscribe-section {
    /* margin-left: 70px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-subscribe-p {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-form {
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-email {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2.0;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    border: none;
}

.footer-icon-subscribe {
    fill: #ffffff;
    margin-left: 16px;
}
@media screen and (min-width: 768px) {
.footer-container {
        max-width: 768px;
        width: 100%;
        height: 100%;
        padding-left: 108px;
    }

    .first-block{
        display: flex;
        column-gap: 24px;
        margin-bottom: 72px;
    }
    
    .footer-first-container {
        /* margin-right: 120px;  */
        align-items: flex-start;
        margin-bottom: 0;
    }

    .footer-social-container {
        align-items: flex-start;
    }

    .footer-subscribe-section{
        margin-right: 0;
        align-items: flex-start;
        /* margin-left: 70px;  */
    }
    
    .footer-subscribe-p {
        /* margin-left: 70px; */
    }

    .footer-form{
    flex-direction: row;
    align-items: flex-start;
    }
}

@media screen and (min-width: 1158px) {
    
    .footer {
        padding: 100px 0px; 
    }
    
    .footer-container {
        display: flex;  
        align-items: baseline;
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .first-block {
        margin-bottom: 0;
        column-gap: 0;
        align-items: baseline;
    }

    .footer-first-container {
        margin-right: 120px; 
    }

    .footer-subscribe-section {
        display: flex;
        margin-left: 80px;
        align-items: flex-start;
        margin-bottom: 0;
    }
}

/*======================*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    /* width: 408px;
    min-height: 584px; */
    width: 288px;
    min-height: 623px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 30px; */
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* padding: 72px 24px 24px 24px; */
    padding: 83px 16px 13px 16px;
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.close-icon {
    fill: var(--navy-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover,
.close-icon:focus {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-align: center;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    margin-bottom: 4px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #2E2F42; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}

.modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-icon {
    fill: var(--navy-blue);
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
}

.textarea-section {
    margin-bottom: 16px;
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.checkbox-section {
    margin-bottom: 24px;
}

.checkbox-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
}

.checkbox-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.modal-checkbox:checked + .checkbox-text span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-policy {
    color: #4d5ae5;
}

.modal-btn {
    display: block;
    min-width: 169px;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5;
    border: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px; 
        padding: 72px 24px 24px 24px; 
        }
}